.DS_Store
*.class
.*.swp
*.orig
*.log

CardCommon/bin
CardCommon/protobuf/org

CardGameServer/bin
CardGameServer/logs

HeartsClient/bin
HeartsClient/gen

SimpleHeartsClient/bin
SimpleHeartsClient/logs
