*.class
.*.swp
*.orig

CardCommon/bin/*
CardCommon/bin/**/*
CardCommon/protobuf/org/*
CardCommon/protobuf/org/**/*

CardGameServer/bin/*
CardGameServer/bin/**/*

HeartsClient/bin/*
HeartsClient/bin/**/*
HeartsClient/gen/*
HeartsClient/gen/**/*
